.footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
    background-color: black;
    color: white;
}

.exclusive input{
    background-color: black;
    padding: 8px 10px;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
}

.exclusive-heading{
    font-weight: 2000;
    font-size: 22px;
}

.subscribe{
    font-weight: 1000;
}

.social-links{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.copyright{
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #ffffff;
    gap: 5px;
    padding: 15px;
}

.copyright p{
    margin: 0;
    padding: 0;
}

.app-images{
    display: flex;
    gap: 20px;
}

.playstore-images{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playstore{
    width: 104px;
    height: 30px;
}

.appstore{
    width: 104px;
    height: 30px;
}

.qr-scanner{
    width: 76px;
    height: 76px;
}
